<div
  class="jt-editor"
  ng-click="inputService.focusInput()" >
  <span
    ng-repeat="tag in tagsCollection.tags | toArray:orderBy:'id'"
    ng-switch="tagsCollection.isTagEdited(tag)">
    <span
      ng-switch-when="false"
      class="jt-tag active-{{tagsCollection.isTagActive(tag)}}">
      <span
        class="value"
        ng-click="tagsInputService.tagClicked(tag)"
        ng-dblclick="tagsInputService.tagDblClicked(tag)">
        {{tag.value}}
      </span>
      <span class="remove-button" ng-click="tagsCollection.removeTag(tag.id)">{{options.texts.removeSymbol}}</span>
    </span>
    <span
      ng-switch-when="true">
      <input
        type="text"
        class="jt-tag-edit"
        focus-once
        only-digits="{{options.texts.onlyDigits}}"
        limit-to="{{options.texts.maxInputLength}}"
        ng-blur="inputService.onBlurEdit(tagsCollection)"
        ng-model="tag.value"
        data-tag-id="{{tag.id}}"
        ng-keydown="inputService.tagInputKeydown(tagsCollection, {$event: $event})"
        placeholder="{{options.texts.inputPlaceHolder}}"
        auto-grow="{{options.minTagWidth}}"
        />
    </span>
  </span>
  <input
    class="jt-tag-new"
    type="text"
    focus-me="inputService.isWaitingForInput"
    ng-model="inputService.input"
    ng-hide="isThereAnEditedTag"
    limit-to="{{options.texts.maxInputLength}}"
    only-digits="{{options.texts.onlyDigits}}"
    ng-blur="inputService.onBlur(tagsCollection, options, $event)"
    ng-keydown="inputService.onKeydown(inputService, tagsCollection, {$event: $event})"
    placeholder="{{options.texts.inputPlaceHolder}}"
    auto-grow="{{options.minTagWidth}}"
  />
  <input
    class="jt-fake-input"
    focus-me="isThereAnActiveTag"
    only-digits="{{options.texts.onlyDigits}}"
    limit-to="{{options.texts.maxInputLength}}"
    ng-keydown="tagsInputService.onActiveTagKeydown(inputService, {$event: $event})"
    ng-blur="tagsInputService.onActiveTagBlur()" />
</div>
